/target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
API/.apt_generated
API/.classpath
API/.factorypath
API/.project
API/.settings
API/.springBeans
API/.sts4-cache
API/target
API/bin
API/.mvn
API/mvnw.cmd
API/mvnw

# compiled output
ADM/dist
ADM/tmp
ADM/out-tsc

# dependencies
ADM/node_modules
ADM/src/environments

# IDEs and editors
ADM//.idea
ADM/.project
ADM/.classpath
ADM/.c9/
ADM/*.launch
ADM/.settings/
ADM/*.sublime-workspace

# IDE - VSCode
ADM/.vscode/*
ADM/!.vscode/settings.json
ADM/!.vscode/tasks.json
ADM/!.vscode/launch.json
ADM/!.vscode/extensions.json

# misc
ADM/.sass-cache
ADM/connect.lock
ADM/coverage
ADM/libpeerconnection.log
ADM/npm-debug.log
ADM/yarn-error.log
ADM/testem.log
ADM/typings

# System Files
ADM/.DS_Store
ADM/Thumbs.db

#APP
# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

APP/*~
APP/*.sw[mnpcod]
APP/*.log
APP/*.tmp
APP/*.tmp.*
APP/log.txt
APP/*.sublime-project
APP/*.sublime-workspace
APP/.vscode/
APP/npm-debug.log*

APP/.idea/
APP/.ionic/
APP/.sourcemaps/
APP/.sass-cache/
APP/.tmp/
APP/.versions/
APP/coverage/
APP/www/
APP/node_modules/
APP/src/environments
APP/tmp/
APP/temp/
APP/platforms/
APP/plugins/
APP/plugins/android.json
APP/plugins/ios.json
APP/$RECYCLE.BIN/

APP/.DS_Store
APP/Thumbs.db
APP/UserInterfaceState.xcuserstate
APP/.gitignore