.col-form-label{
    font-weight: bold;
}

.total-price{
    text-align: right;
    margin-top: 2%;
}

.total-price-input{
    float: right;
    margin-left: 11px;
}

.cancel{
    margin-right: 1%;
}

.select-status{
    float: right;
    margin-left: 10px;
}