<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-header">
        <i class="fa fa-align-justify"></i>
        Categories
        <a routerLink="/categories/insert" class="btn pull-right text-success">
          <i class="nav-icon icon-plus"></i> New
        </a>
            <form class="form-inline pull-right"
                  [formGroup]="filterRequest"
                  (ngSubmit)="applyFilter(filterRequest.getRawValue())">
                <div class="form-group row">
                    <input
                      placeholder="Description"
                      class="form-control col-md-5 margin-filter pull-right"
                      type="text"
                      formControlName="description"
                    />
                  <button
                       class="button-filter btn btn-sm btn-success" type="submit">
                      <i class="fa fa-check"></i> Apply filter</button>
                  
              </div>
          </form>
      </div>
      <div class="card-body">
        <table class="table table-responsive-sm table-bordered table-striped table-sm">
          <thead>
            <tr>
              <th>ID</th>
              <th>Description</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let category of categories">
              <td>{{category.id}}</td>
              <td>{{category.description}}</td>
              <td>
                  <a [routerLink]="['/categories/edit/', category.id]" class="text-primary font-weight-bold">
                    <i class="fa fa-pencil"></i>
                  </a>
                  &nbsp;
                  <a (click)="deleteCategory(category.id)" class="text-danger font-weight-bold cursor-pointer">
                    <i class="fa fa-trash"></i>
                  </a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <!-- /.col-->
</div>
